# .gitignore, Status of 2024-11-13

# private files
_*.h

# Preliminary, not yet working & Arduino libraries
libraries/*

# Documentation Tools
D1-Mini*.brd
D1-Mini*.sch
D1-Mini*.odt
D1-Mini_Adapter.pdf
D1-Mini_Adapter_pcb_Eurocircuits.png
D1-Mini_Adapter_sch.png
LDR-Photomet*
LDR-Widerstand.*
ADC.png
LDR.png
MQTT-Links*
Platine*

# Documentation
latex/*

# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Python
*.pyo
.idea
__pycache__

# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# Documentation
latex/*

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
