# .gitignore, Status of 2024-09-11

# private files
_*.h

# Preliminary, not yet working
generalFunctions.h
getSensorData.h
mqttFunctions.h
outputFunctions.h
setupCommunication.h
setupSensors.h

# Arduino libraries
libraries/*

# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Python
*.pyo
.idea
__pycache__

# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# Documentation
latex/*
D1-Mini_Adapter.odt
LDR.png
ADC.png

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
